/* @tailwind base; */
@import './reset';
@import './variables.scss';

a,
a:active,
a:visited {
    color: var(--el-primary-color);
}

:root {
    --link-color: #42b983;
}

body {
    font-family: var(--globalFont);
}

// 应用到所有元素
* {
    font-family: var(--globalFont);
}
